# Look at the big picture.

## Libraries

In [31]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler


from datetime import datetime
from statistics import median
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%load_ext pycodestyle_magic

In [3]:
# Activamos las alertas de estilo
%pycodestyle_on

## Performance Metric

In [3]:
def performance(y_true: list, y_pred: list) -> float:
    """

    """

    CF = [1 for _ in y_true if y_pred > y_true] / len(y_pred) * 100
    RMSE = mean_squared_errors(y_true, y_pred)
    rRMSE = RMSE / median(y_true)
    metric = (0.7 * rRMSE) + (0.3 * (1 - CF))

    return metric

# Get the data

In [4]:
dtypes = {
    "fecha": "string",
    "id": "category",
    "visitas": "Int64",
    "categoria_uno": "category",
    "categoria_dos": "category",
    "estado": "category",
    "precio": "Float64",
    "dia_atipico": "category",
    "campaña": "category",
    "antiguedad": "Int64",
    "unidades_vendidas": "Int64"    
}

# Read the data
data = pd.read_csv('./data/Modelar_UH2021.txt', delimiter="|", dtype=dtypes, decimal=',')

## Overview the data

In [5]:
data.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
0,1/6/2015 0:00:00,21972,0,C,75,No Rotura,NaN,0,0,5241,0
1,1/6/2015 0:00:00,23910,5,C,170,No Rotura,6.07,0,0,5241,3
2,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
3,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
4,1/6/2015 0:00:00,27144,15,E,230,No Rotura,NaN,0,0,4064,0

In [6]:
data.describe()

            visitas        precio    antiguedad  unidades_vendidas
count  4.045022e+06  1.402111e+06  3.170857e+06       4.045022e+06
mean   1.721371e+02  3.424319e+01  1.011114e+03       4.693434e+00
std    6.889116e+02  2.330943e+01  7.162509e+02       2.237403e+01
min    0.000000e+00  3.570000e+00  1.260000e+02       0.000000e+00
25%    7.000000e+00  1.652000e+01  5.240000e+02       0.000000e+00
50%    3.500000e+01  2.689000e+01  7.950000e+02       0.000000e+00
75%    1.300000e+02  4.535000e+01  1.244000e+03       3.000000e+00
max    1.200450e+05  1.757800e+02  5.310000e+03       4.881000e+03

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4045022 entries, 0 to 4045021
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   fecha              string
 1   id                 category
 2   visitas            Int64
 3   categoria_uno      category
 4   categoria_dos      category
 5   estado             category
 6   precio             float64
 7   dia_atipico        category
 8   campaña            category
 9   antiguedad         Int64
 10  unidades_vendidas  Int64
dtypes: Int64(3), category(6), float64(1), string(1)
memory usage: 196.9 MB

# Discover and visualize the data to gain insights

# Prepare the data for Machine Learning algorithms

## Preprocessing functions

### Time format

In [8]:
class time_format(BaseEstimator, TransformerMixin):

    def __init__(self, document='Modelar'):
        self.document = document

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and trate the 'fecha' attribute depending of the document.
        If it is the 'Modelar' document, the variable will be equal to the content
        before the first space.
        If it it the 'Estimar' document, the variable will be transformed to the
        original format

        Original Format: 'DD/MM/AAAA' in (text format)


        """

        temp = ''

        if self.document == 'Modelar':
            data['fecha'] = pd.to_datetime(data['fecha'],infer_datetime_format=True).apply(lambda x : x.strftime('%d/%m/%Y'))
        elif self.document == 'Estimar':
            # agregar la modificación para el documento Estimar
            data['fecha']
        else:
            print('Unknown document!!!')


        return data

### Drop duplicates

In [9]:
class drop_dup(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and return the dataframe without duplicates.

        """

        return data.drop_duplicates()

### Data Preprocessing Pipeline

In [30]:
data_prep_pipeline = Pipeline([
         ('drop_dup', drop_dup()),
         ('time_format', time_format(document='Modelar'))
])


data_prepared = data_prep_pipeline.fit_transform(data)

<ipython-input-8-d554a86d8d47>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['fecha'] = pd.to_datetime(data['fecha'],infer_datetime_format=True).apply(lambda x : x.strftime('%d/%m/%Y'))

ValueError: could not convert string to float: 'C'

num_attribs = ['visitas', 'precio', 'antiguedad']
cat_attribs = ["ocean_proximity"]

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(), cat_attribs),
    ])

housing_prepared = full_pipeline.fit_transform(housing)

ct = ColumnTransformer([
        ('somename', StandardScaler(), ['Age', 'Weight'])
    ], remainder='passthrough')

ct.fit_transform(features)

## Missing Values

In [11]:
## Get the missing values per attribute
data.isnull().sum()

fecha                      0
id                         0
visitas                    0
categoria_uno              0
categoria_dos           5844
estado                     0
precio               2642911
dia_atipico                0
campaña                    0
antiguedad            874165
unidades_vendidas          0
dtype: int64

In [12]:
data_final = data_prepared.copy()
data_final['fecha'] = data_final['fecha'].apply( lambda i : datetime.strptime(i , "%d/%m/%Y"))  
data_final.sort_values(by=['fecha'], inplace=True, ascending=True)
data_final = data_final.reset_index(drop=True)

In [13]:
data_final[data_final['id'] == str(23910)]

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
2770,2015-01-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
8340,2015-01-07,23910,0,C,170,No Rotura,NaN,0,0,5241,0
11114,2015-01-08,23910,2,C,170,No Rotura,NaN,0,0,5241,0
13907,2015-01-09,23910,11,C,170,No Rotura,6.12,0,0,5241,21
19458,2015-01-10,23910,12,C,170,No Rotura,NaN,0,0,5241,0
...,...,...,...,...,...,...,...,...,...,...,...
2021952,2016-12-05,23910,10,C,170,No Rotura,6.07,0,0,5241,3
2026123,2016-12-06,23910,0,C,170,No Rotura,NaN,0,0,5241,0
2028918,2016-12-07,23910,35,C,170,No Rotura,NaN,0,0,5241,0
2033091,2016-12-08,23910,25,C,170,No Rotura,6.07,0,0,5241,3
2037262,2016-12-09,23910,30,C,170,No Rotura,NaN,0,0,5241,0

In [14]:
last_values = dict([ (i, 0) for i in data_final.id.unique() ])

df_index = 0

for index, value in zip(data_final.id, data_final.precio):
    if pd.notna(float(value)):
        last_values[index] = value
    else:
        data_final.at[df_index, 'precio'] = last_values[index]
   
    df_index += 1

In [15]:
data_final[data_final['id'] == str(23910)]

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
2770,2015-01-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
8340,2015-01-07,23910,0,C,170,No Rotura,6.07,0,0,5241,0
11114,2015-01-08,23910,2,C,170,No Rotura,6.07,0,0,5241,0
13907,2015-01-09,23910,11,C,170,No Rotura,6.12,0,0,5241,21
19458,2015-01-10,23910,12,C,170,No Rotura,6.12,0,0,5241,0
...,...,...,...,...,...,...,...,...,...,...,...
2021952,2016-12-05,23910,10,C,170,No Rotura,6.07,0,0,5241,3
2026123,2016-12-06,23910,0,C,170,No Rotura,6.07,0,0,5241,0
2028918,2016-12-07,23910,35,C,170,No Rotura,6.07,0,0,5241,0
2033091,2016-12-08,23910,25,C,170,No Rotura,6.07,0,0,5241,3
2037262,2016-12-09,23910,30,C,170,No Rotura,6.07,0,0,5241,0

Imputar la variable antiguedad por la media y la categoría dos por 0(de Momento).

In [21]:
# Get the median value
median = data_final['antiguedad'].median()

# Fill the NA Values with the median
data_final['antiguedad'].fillna(median, inplace=True)
# data_final['categoria_dos'].fillna(, inplace=True) # De momento dejadlo así, ya estoy buscando la manera de hacerlo con clustering
data_final.dropna(inplace=True)

In [22]:
data_final.isna().sum()

fecha                0
id                   0
visitas              0
categoria_uno        0
categoria_dos        0
estado               0
precio               0
dia_atipico          0
campaña              0
antiguedad           0
unidades_vendidas    0
dtype: int64

### One Hot Encoding

In [25]:
encoder = OneHotEncoder()

data_one_hot = encoder.fit_transform(data_final)

In [26]:
data_one_hot

<2035644x19107 sparse matrix of type '<class 'numpy.float64'>'
	with 22392084 stored elements in Compressed Sparse Row format>

In [28]:
encoder.categories_

[array(['2015-01-06T00:00:00.000000000', '2015-01-07T00:00:00.000000000',
        '2015-01-08T00:00:00.000000000', '2015-01-09T00:00:00.000000000',
        '2015-01-10T00:00:00.000000000', '2015-01-11T00:00:00.000000000',
        '2015-01-12T00:00:00.000000000', '2015-02-06T00:00:00.000000000',
        '2015-02-07T00:00:00.000000000', '2015-02-08T00:00:00.000000000',
        '2015-02-09T00:00:00.000000000', '2015-02-10T00:00:00.000000000',
        '2015-02-11T00:00:00.000000000', '2015-02-12T00:00:00.000000000',
        '2015-03-06T00:00:00.000000000', '2015-03-07T00:00:00.000000000',
        '2015-03-08T00:00:00.000000000', '2015-03-09T00:00:00.000000000',
        '2015-03-10T00:00:00.000000000', '2015-03-11T00:00:00.000000000',
        '2015-03-12T00:00:00.000000000', '2015-04-06T00:00:00.000000000',
        '2015-04-07T00:00:00.000000000', '2015-04-08T00:00:00.000000000',
        '2015-04-09T00:00:00.000000000', '2015-04-10T00:00:00.000000000',
        '2015-04-11T00:00:00.000000000', '2015-04-12T00:00:00.000000000',
        '2015-05-06T00:00:00.000000000', '2015-05-07T00:00:00.000000000',
        '2015-05-08T00:00:00.000000000', '2015-05-09T00:00:00.000000000',
        '2015-05-10T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
        '2015-05-12T00:00:00.000000000', '2015-06-06T00:00:00.000000000',
        '2015-06-07T00:00:00.000000000', '2015-06-08T00:00:00.000000000',
        '2015-06-09T00:00:00.000000000', '2015-06-10T00:00:00.000000000',
        '2015-06-11T00:00:00.000000000', '2015-06-12T00:00:00.000000000',
        '2015-06-13T00:00:00.000000000', '2015-06-14T00:00:00.000000000',
        '2015-06-15T00:00:00.000000000', '2015-06-16T00:00:00.000000000',
        '2015-06-17T00:00:00.000000000', '2015-06-18T00:00:00.000000000',
        '2015-06-19T00:00:00.000000000', '2015-06-20T00:00:00.000000000',
        '2015-06-21T00:00:00.000000000', '2015-06-22T00:00:00.000000000',
        '2015-06-23T00:00:00.000000000', '2015-06-24T00:00:00.000000000',
        '2015-06-25T00:00:00.000000000', '2015-06-26T00:00:00.000000000',
        '2015-06-27T00:00:00.000000000', '2015-06-28T00:00:00.000000000',
        '2015-06-29T00:00:00.000000000', '2015-06-30T00:00:00.000000000',
        '2015-07-06T00:00:00.000000000', '2015-07-07T00:00:00.000000000',
        '2015-07-08T00:00:00.000000000', '2015-07-09T00:00:00.000000000',
        '2015-07-10T00:00:00.000000000', '2015-07-11T00:00:00.000000000',
        '2015-07-12T00:00:00.000000000', '2015-07-13T00:00:00.000000000',
        '2015-07-14T00:00:00.000000000', '2015-07-15T00:00:00.000000000',
        '2015-07-16T00:00:00.000000000', '2015-07-17T00:00:00.000000000',
        '2015-07-18T00:00:00.000000000', '2015-07-19T00:00:00.000000000',
        '2015-07-20T00:00:00.000000000', '2015-07-21T00:00:00.000000000',
        '2015-07-22T00:00:00.000000000', '2015-07-23T00:00:00.000000000',
        '2015-07-24T00:00:00.000000000', '2015-07-25T00:00:00.000000000',
        '2015-07-26T00:00:00.000000000', '2015-07-27T00:00:00.000000000',
        '2015-07-28T00:00:00.000000000', '2015-07-29T00:00:00.000000000',
        '2015-07-30T00:00:00.000000000', '2015-07-31T00:00:00.000000000',
        '2015-08-06T00:00:00.000000000', '2015-08-07T00:00:00.000000000',
        '2015-08-08T00:00:00.000000000', '2015-08-09T00:00:00.000000000',
        '2015-08-10T00:00:00.000000000', '2015-08-11T00:00:00.000000000',
        '2015-08-12T00:00:00.000000000', '2015-08-13T00:00:00.000000000',
        '2015-08-14T00:00:00.000000000', '2015-08-15T00:00:00.000000000',
        '2015-08-16T00:00:00.000000000', '2015-08-17T00:00:00.000000000',
        '2015-08-18T00:00:00.000000000', '2015-08-19T00:00:00.000000000',
        '2015-08-20T00:00:00.000000000', '2015-08-21T00:00:00.000000000',
        '2015-08-22T00:00:00.000000000', '2015-08-23T00:00:00.000000000',
        '2015-08-24T00:00:00.000000000', '2015-08-25T00:00:00.000000000',
        '2015-08-26T00:00:00.000000000', '2015-08-27T00:00:00.000000000',
        '2015-08-28T00:00:00.000000000', '2015-08-29T00:00:00.000000000',
        '2015-08-30T00:00:00.000000000', '2015-08-31T00:00:00.000000000',
        '2015-09-06T00:00:00.000000000', '2015-09-07T00:00:00.000000000',
        '2015-09-08T00:00:00.000000000', '2015-09-09T00:00:00.000000000',
        '2015-09-10T00:00:00.000000000', '2015-09-11T00:00:00.000000000',
        '2015-09-12T00:00:00.000000000', '2015-09-13T00:00:00.000000000',
        '2015-09-14T00:00:00.000000000', '2015-09-15T00:00:00.000000000',
        '2015-09-16T00:00:00.000000000', '2015-09-17T00:00:00.000000000',
        '2015-09-18T00:00:00.000000000', '2015-09-19T00:00:00.000000000',
        '2015-09-20T00:00:00.000000000', '2015-09-21T00:00:00.000000000',
        '2015-09-22T00:00:00.000000000', '2015-09-23T00:00:00.000000000',
        '2015-09-24T00:00:00.000000000', '2015-09-25T00:00:00.000000000',
        '2015-09-26T00:00:00.000000000', '2015-09-27T00:00:00.000000000',
        '2015-09-28T00:00:00.000000000', '2015-09-29T00:00:00.000000000',
        '2015-09-30T00:00:00.000000000', '2015-10-06T00:00:00.000000000',
        '2015-10-07T00:00:00.000000000', '2015-10-08T00:00:00.000000000',
        '2015-10-09T00:00:00.000000000', '2015-10-10T00:00:00.000000000',
        '2015-10-11T00:00:00.000000000', '2015-10-12T00:00:00.000000000',
        '2015-10-13T00:00:00.000000000', '2015-10-14T00:00:00.000000000',
        '2015-10-15T00:00:00.000000000', '2015-10-16T00:00:00.000000000',
        '2015-10-17T00:00:00.000000000', '2015-10-18T00:00:00.000000000',
        '2015-10-19T00:00:00.000000000', '2015-10-20T00:00:00.000000000',
        '2015-10-21T00:00:00.000000000', '2015-10-22T00:00:00.000000000',
        '2015-10-23T00:00:00.000000000', '2015-10-24T00:00:00.000000000',
        '2015-10-25T00:00:00.000000000', '2015-10-26T00:00:00.000000000',
        '2015-10-27T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
        '2015-10-29T00:00:00.000000000', '2015-10-30T00:00:00.000000000',
        '2015-10-31T00:00:00.000000000', '2015-11-06T00:00:00.000000000',
        '2015-11-07T00:00:00.000000000', '2015-11-08T00:00:00.000000000',
        '2015-11-09T00:00:00.000000000', '2015-11-10T00:00:00.000000000',
        '2015-11-11T00:00:00.000000000', '2015-11-12T00:00:00.000000000',
        '2015-11-13T00:00:00.000000000', '2015-11-14T00:00:00.000000000',
        '2015-11-15T00:00:00.000000000', '2015-11-16T00:00:00.000000000',
        '2015-11-17T00:00:00.000000000', '2015-11-18T00:00:00.000000000',
        '2015-11-19T00:00:00.000000000', '2015-11-20T00:00:00.000000000',
        '2015-11-21T00:00:00.000000000', '2015-11-22T00:00:00.000000000',
        '2015-11-23T00:00:00.000000000', '2015-11-24T00:00:00.000000000',
        '2015-11-25T00:00:00.000000000', '2015-11-26T00:00:00.000000000',
        '2015-11-27T00:00:00.000000000', '2015-11-28T00:00:00.000000000',
        '2015-11-29T00:00:00.000000000', '2015-11-30T00:00:00.000000000',
        '2015-12-06T00:00:00.000000000', '2015-12-07T00:00:00.000000000',
        '2015-12-08T00:00:00.000000000', '2015-12-09T00:00:00.000000000',
        '2015-12-10T00:00:00.000000000', '2015-12-11T00:00:00.000000000',
        '2015-12-12T00:00:00.000000000', '2015-12-13T00:00:00.000000000',
        '2015-12-14T00:00:00.000000000', '2015-12-15T00:00:00.000000000',
        '2015-12-16T00:00:00.000000000', '2015-12-17T00:00:00.000000000',
        '2015-12-18T00:00:00.000000000', '2015-12-19T00:00:00.000000000',
        '2015-12-20T00:00:00.000000000', '2015-12-21T00:00:00.000000000',
        '2015-12-22T00:00:00.000000000', '2015-12-23T00:00:00.000000000',
        '2015-12-24T00:00:00.000000000', '2015-12-25T00:00:00.000000000',
        '2015-12-26T00:00:00.000000000', '2015-12-27T00:00:00.000000000',
        '2015-12-28T00:00:00.000000000', '2015-12-29T00:00:00.000000000',
        '2015-12-30T00:00:00.000000000', '2015-12-31T00:00:00.000000000',
        '2016-01-01T00:00:00.000000000', '2016-01-02T00:00:00.000000000',
        '2016-01-03T00:00:00.000000000', '2016-01-04T00:00:00.000000000',
        '2016-01-05T00:00:00.000000000', '2016-01-06T00:00:00.000000000',
        '2016-01-07T00:00:00.000000000', '2016-01-08T00:00:00.000000000',
        '2016-01-09T00:00:00.000000000', '2016-01-13T00:00:00.000000000',
        '2016-01-14T00:00:00.000000000', '2016-01-15T00:00:00.000000000',
        '2016-01-16T00:00:00.000000000', '2016-01-17T00:00:00.000000000',
        '2016-01-18T00:00:00.000000000', '2016-01-19T00:00:00.000000000',
        '2016-01-20T00:00:00.000000000', '2016-01-21T00:00:00.000000000',
        '2016-01-22T00:00:00.000000000', '2016-01-23T00:00:00.000000000',
        '2016-01-24T00:00:00.000000000', '2016-01-25T00:00:00.000000000',
        '2016-01-26T00:00:00.000000000', '2016-01-27T00:00:00.000000000',
        '2016-01-28T00:00:00.000000000', '2016-01-29T00:00:00.000000000',
        '2016-01-30T00:00:00.000000000', '2016-01-31T00:00:00.000000000',
        '2016-02-01T00:00:00.000000000', '2016-02-02T00:00:00.000000000',
        '2016-02-03T00:00:00.000000000', '2016-02-04T00:00:00.000000000',
        '2016-02-05T00:00:00.000000000', '2016-02-06T00:00:00.000000000',
        '2016-02-07T00:00:00.000000000', '2016-02-08T00:00:00.000000000',
        '2016-02-09T00:00:00.000000000', '2016-02-13T00:00:00.000000000',
        '2016-02-14T00:00:00.000000000', '2016-02-15T00:00:00.000000000',
        '2016-02-16T00:00:00.000000000', '2016-02-17T00:00:00.000000000',
        '2016-02-18T00:00:00.000000000', '2016-02-19T00:00:00.000000000',
        '2016-02-20T00:00:00.000000000', '2016-02-21T00:00:00.000000000',
        '2016-02-22T00:00:00.000000000', '2016-02-23T00:00:00.000000000',
        '2016-02-24T00:00:00.000000000', '2016-02-25T00:00:00.000000000',
        '2016-02-26T00:00:00.000000000', '2016-02-27T00:00:00.000000000',
        '2016-02-28T00:00:00.000000000', '2016-03-01T00:00:00.000000000',
        '2016-03-02T00:00:00.000000000', '2016-03-03T00:00:00.000000000',
        '2016-03-04T00:00:00.000000000', '2016-03-05T00:00:00.000000000',
        '2016-03-06T00:00:00.000000000', '2016-03-07T00:00:00.000000000',
        '2016-03-08T00:00:00.000000000', '2016-03-09T00:00:00.000000000',
        '2016-03-13T00:00:00.000000000', '2016-03-14T00:00:00.000000000',
        '2016-03-15T00:00:00.000000000', '2016-03-16T00:00:00.000000000',
        '2016-03-17T00:00:00.000000000', '2016-03-18T00:00:00.000000000',
        '2016-03-19T00:00:00.000000000', '2016-03-20T00:00:00.000000000',
        '2016-03-21T00:00:00.000000000', '2016-03-22T00:00:00.000000000',
        '2016-03-23T00:00:00.000000000', '2016-03-24T00:00:00.000000000',
        '2016-03-25T00:00:00.000000000', '2016-03-26T00:00:00.000000000',
        '2016-03-27T00:00:00.000000000', '2016-03-28T00:00:00.000000000',
        '2016-03-29T00:00:00.000000000', '2016-03-30T00:00:00.000000000',
        '2016-03-31T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
        '2016-04-02T00:00:00.000000000', '2016-04-03T00:00:00.000000000',
        '2016-04-04T00:00:00.000000000', '2016-04-05T00:00:00.000000000',
        '2016-04-06T00:00:00.000000000', '2016-04-07T00:00:00.000000000',
        '2016-04-08T00:00:00.000000000', '2016-04-09T00:00:00.000000000',
        '2016-04-13T00:00:00.000000000', '2016-04-14T00:00:00.000000000',
        '2016-04-15T00:00:00.000000000', '2016-04-16T00:00:00.000000000',
        '2016-04-17T00:00:00.000000000', '2016-04-18T00:00:00.000000000',
        '2016-04-19T00:00:00.000000000', '2016-04-20T00:00:00.000000000',
        '2016-04-21T00:00:00.000000000', '2016-04-22T00:00:00.000000000',
        '2016-04-23T00:00:00.000000000', '2016-04-24T00:00:00.000000000',
        '2016-04-25T00:00:00.000000000', '2016-04-26T00:00:00.000000000',
        '2016-04-27T00:00:00.000000000', '2016-04-28T00:00:00.000000000',
        '2016-04-29T00:00:00.000000000', '2016-04-30T00:00:00.000000000',
        '2016-05-01T00:00:00.000000000', '2016-05-02T00:00:00.000000000',
        '2016-05-03T00:00:00.000000000', '2016-05-04T00:00:00.000000000',
        '2016-05-05T00:00:00.000000000', '2016-05-06T00:00:00.000000000',
        '2016-05-07T00:00:00.000000000', '2016-05-08T00:00:00.000000000',
        '2016-05-09T00:00:00.000000000', '2016-05-13T00:00:00.000000000',
        '2016-05-14T00:00:00.000000000', '2016-05-15T00:00:00.000000000',
        '2016-05-16T00:00:00.000000000', '2016-05-17T00:00:00.000000000',
        '2016-05-18T00:00:00.000000000', '2016-05-19T00:00:00.000000000',
        '2016-05-20T00:00:00.000000000', '2016-05-21T00:00:00.000000000',
        '2016-05-22T00:00:00.000000000', '2016-05-23T00:00:00.000000000',
        '2016-05-24T00:00:00.000000000', '2016-05-25T00:00:00.000000000',
        '2016-05-26T00:00:00.000000000', '2016-05-27T00:00:00.000000000',
        '2016-05-28T00:00:00.000000000', '2016-05-29T00:00:00.000000000',
        '2016-05-30T00:00:00.000000000', '2016-05-31T00:00:00.000000000',
        '2016-06-01T00:00:00.000000000', '2016-06-02T00:00:00.000000000',
        '2016-06-03T00:00:00.000000000', '2016-06-04T00:00:00.000000000',
        '2016-06-05T00:00:00.000000000', '2016-06-06T00:00:00.000000000',
        '2016-06-07T00:00:00.000000000', '2016-06-08T00:00:00.000000000',
        '2016-06-09T00:00:00.000000000', '2016-06-13T00:00:00.000000000',
        '2016-06-14T00:00:00.000000000', '2016-06-15T00:00:00.000000000',
        '2016-06-16T00:00:00.000000000', '2016-06-17T00:00:00.000000000',
        '2016-06-18T00:00:00.000000000', '2016-06-19T00:00:00.000000000',
        '2016-06-20T00:00:00.000000000', '2016-06-21T00:00:00.000000000',
        '2016-06-22T00:00:00.000000000', '2016-06-23T00:00:00.000000000',
        '2016-06-24T00:00:00.000000000', '2016-06-25T00:00:00.000000000',
        '2016-06-26T00:00:00.000000000', '2016-06-27T00:00:00.000000000',
        '2016-06-28T00:00:00.000000000', '2016-06-29T00:00:00.000000000',
        '2016-06-30T00:00:00.000000000', '2016-07-01T00:00:00.000000000',
        '2016-07-02T00:00:00.000000000', '2016-07-03T00:00:00.000000000',
        '2016-07-04T00:00:00.000000000', '2016-07-05T00:00:00.000000000',
        '2016-07-06T00:00:00.000000000', '2016-07-07T00:00:00.000000000',
        '2016-07-08T00:00:00.000000000', '2016-07-09T00:00:00.000000000',
        '2016-07-13T00:00:00.000000000', '2016-07-14T00:00:00.000000000',
        '2016-07-15T00:00:00.000000000', '2016-07-16T00:00:00.000000000',
        '2016-07-17T00:00:00.000000000', '2016-07-18T00:00:00.000000000',
        '2016-07-19T00:00:00.000000000', '2016-07-20T00:00:00.000000000',
        '2016-07-21T00:00:00.000000000', '2016-07-22T00:00:00.000000000',
        '2016-07-23T00:00:00.000000000', '2016-07-24T00:00:00.000000000',
        '2016-07-25T00:00:00.000000000', '2016-07-26T00:00:00.000000000',
        '2016-07-27T00:00:00.000000000', '2016-07-28T00:00:00.000000000',
        '2016-07-29T00:00:00.000000000', '2016-07-30T00:00:00.000000000',
        '2016-07-31T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
        '2016-08-02T00:00:00.000000000', '2016-08-03T00:00:00.000000000',
        '2016-08-04T00:00:00.000000000', '2016-08-05T00:00:00.000000000',
        '2016-08-06T00:00:00.000000000', '2016-08-07T00:00:00.000000000',
        '2016-08-08T00:00:00.000000000', '2016-08-09T00:00:00.000000000',
        '2016-08-13T00:00:00.000000000', '2016-08-14T00:00:00.000000000',
        '2016-08-15T00:00:00.000000000', '2016-08-16T00:00:00.000000000',
        '2016-08-17T00:00:00.000000000', '2016-08-18T00:00:00.000000000',
        '2016-08-19T00:00:00.000000000', '2016-08-20T00:00:00.000000000',
        '2016-08-21T00:00:00.000000000', '2016-08-22T00:00:00.000000000',
        '2016-08-23T00:00:00.000000000', '2016-08-24T00:00:00.000000000',
        '2016-08-25T00:00:00.000000000', '2016-08-26T00:00:00.000000000',
        '2016-08-27T00:00:00.000000000', '2016-08-28T00:00:00.000000000',
        '2016-08-29T00:00:00.000000000', '2016-08-30T00:00:00.000000000',
        '2016-08-31T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
        '2016-09-02T00:00:00.000000000', '2016-09-03T00:00:00.000000000',
        '2016-09-04T00:00:00.000000000', '2016-09-05T00:00:00.000000000',
        '2016-09-06T00:00:00.000000000', '2016-09-07T00:00:00.000000000',
        '2016-09-08T00:00:00.000000000', '2016-09-09T00:00:00.000000000',
        '2016-09-13T00:00:00.000000000', '2016-09-14T00:00:00.000000000',
        '2016-09-15T00:00:00.000000000', '2016-09-16T00:00:00.000000000',
        '2016-09-17T00:00:00.000000000', '2016-09-18T00:00:00.000000000',
        '2016-09-19T00:00:00.000000000', '2016-09-20T00:00:00.000000000',
        '2016-09-21T00:00:00.000000000', '2016-09-22T00:00:00.000000000',
        '2016-09-23T00:00:00.000000000', '2016-09-24T00:00:00.000000000',
        '2016-09-25T00:00:00.000000000', '2016-09-26T00:00:00.000000000',
        '2016-09-27T00:00:00.000000000', '2016-09-28T00:00:00.000000000',
        '2016-09-29T00:00:00.000000000', '2016-09-30T00:00:00.000000000',
        '2016-10-01T00:00:00.000000000', '2016-10-02T00:00:00.000000000',
        '2016-10-03T00:00:00.000000000', '2016-10-04T00:00:00.000000000',
        '2016-10-05T00:00:00.000000000', '2016-10-06T00:00:00.000000000',
        '2016-10-07T00:00:00.000000000', '2016-10-08T00:00:00.000000000',
        '2016-10-09T00:00:00.000000000', '2016-11-01T00:00:00.000000000',
        '2016-11-02T00:00:00.000000000', '2016-11-03T00:00:00.000000000',
        '2016-11-04T00:00:00.000000000', '2016-11-05T00:00:00.000000000',
        '2016-11-06T00:00:00.000000000', '2016-11-07T00:00:00.000000000',
        '2016-11-08T00:00:00.000000000', '2016-11-09T00:00:00.000000000',
        '2016-12-01T00:00:00.000000000', '2016-12-02T00:00:00.000000000',
        '2016-12-03T00:00:00.000000000', '2016-12-04T00:00:00.000000000',
        '2016-12-05T00:00:00.000000000', '2016-12-06T00:00:00.000000000',
        '2016-12-07T00:00:00.000000000', '2016-12-08T00:00:00.000000000',
        '2016-12-09T00:00:00.000000000'], dtype='datetime64[ns]'),
 array(['100098', '100266', '100484', ..., '99600', '99608', '99730'],
       dtype=object),
 array([0, 1, 2, ..., 107705, 115140, 120045], dtype=object),
 array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'N', 'O'],
       dtype=object),
 array(['10', '101', '103', '105', '108', '109', '114', '115', '116',
        '120', '122', '123', '124', '125', '127', '131', '133', '135',
        '136', '137', '139', '14', '143', '144', '145', '149', '150',
        '152', '153', '155', '156', '157', '158', '16', '160', '161',
        '165', '170', '171', '174', '175', '179', '180', '181', '182',
        '183', '186', '188', '192', '195', '197', '199', '2', '20', '200',
        '201', '202', '203', '205', '206', '207', '212', '216', '217',
        '22', '221', '223', '224', '226', '228', '229', '23', '230', '233',
        '235', '236', '237', '238', '239', '242', '243', '245', '247',
        '248', '249', '253', '255', '256', '258', '259', '263', '264',
        '266', '267', '268', '269', '27', '270', '271', '273', '274',
        '275', '276', '277', '278', '28', '282', '285', '286', '289', '29',
        '290', '292', '295', '296', '298', '30', '303', '304', '305',
        '307', '308', '312', '314', '315', '316', '319', '32', '323',
        '326', '328', '329', '331', '333', '336', '338', '34', '340',
        '341', '342', '343', '36', '37', '38', '39', '42', '43', '44',
        '45', '46', '49', '5', '50', '51', '54', '57', '63', '65', '66',
        '67', '69', '7', '71', '72', '73', '75', '76', '78', '79', '8',
        '80', '82', '84', '85', '86', '89', '92', '93', '95', '96', '97',
        '98'], dtype=object),
 array(['No Rotura', 'Rotura', 'Transito'], dtype=object),
 array([  0.  ,   3.57,   3.69, ..., 174.73, 175.07, 175.78]),
 array(['-1', '0', '1'], dtype=object),
 array(['0', '1'], dtype=object),
 array([126, 130, 133, ..., 5241, 5261, 5310], dtype=object),

## Outliers

No debe haber outliers

# Select a model and train it

# Fine-tune your model

# Present your solution