# Look at the big picture.

## Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from datetime import datetime
from statistics import median
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
%load_ext pycodestyle_magic

In [ ]:
# Activamos las alertas de estilo
%pycodestyle_on

## Performance Metric

In [2]:
def performance(y_true: list, y_pred: list) -> float:
    """

    """

    CF = [1 for _ in y_true if y_pred > y_true] / len(y_pred) * 100
    RMSE = mean_squared_errors(y_true, y_pred)
    rRMSE = RMSE / median(y_true)
    metric = (0.7 * rRMSE) + (0.3 * (1 - CF))

    return metric

# Get the data

In [3]:
dtypes = {
    "fecha": "str",
    "id": "category",
    "visitas": "Int64",
    "categoria_uno": "category",
    "categoria_dos": "category",
    "estado": "category",
    "precio": "Float64",
    "dia_atipico": "category",
    "campaña": "category",
    "antiguedad": "Int64",
    "unidades_vendidas": "Int64"    
}

# Read the data
data = pd.read_csv('./data/Modelar_UH2021.txt', delimiter="|", dtype=dtypes, decimal=',')

## Overview the data

In [4]:
data.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
0,1/6/2015 0:00:00,21972,0,C,75,No Rotura,NaN,0,0,5241,0
1,1/6/2015 0:00:00,23910,5,C,170,No Rotura,6.07,0,0,5241,3
2,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,NaN,0
3,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,NaN,0
4,1/6/2015 0:00:00,27144,15,E,230,No Rotura,NaN,0,0,4064,0

In [5]:
data.describe()

            visitas        precio    antiguedad  unidades_vendidas
count  4.045022e+06  1.402111e+06  3.170857e+06       4.045022e+06
mean   1.721371e+02  3.424319e+01  1.011114e+03       4.693434e+00
std    6.889116e+02  2.330943e+01  7.162509e+02       2.237403e+01
min    0.000000e+00  3.570000e+00  1.260000e+02       0.000000e+00
25%    7.000000e+00  1.652000e+01  5.240000e+02       0.000000e+00
50%    3.500000e+01  2.689000e+01  7.950000e+02       0.000000e+00
75%    1.300000e+02  4.535000e+01  1.244000e+03       3.000000e+00
max    1.200450e+05  1.757800e+02  5.310000e+03       4.881000e+03

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4045022 entries, 0 to 4045021
Data columns (total 11 columns):
fecha                object
id                   category
visitas              Int64
categoria_uno        category
categoria_dos        category
estado               category
precio               float64
dia_atipico          category
campaña              category
antiguedad           Int64
unidades_vendidas    Int64
dtypes: Int64(3), category(6), float64(1), object(1)
memory usage: 196.9+ MB

# Discover and visualize the data to gain insights

# Prepare the data for Machine Learning algorithms

## Preprocessing functions

### Time format

In [7]:
class time_format(BaseEstimator, TransformerMixin):

    def __init__(self, document='Modelar'):
        self.document = document

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and trate the 'fecha' attribute depending of the document.
        If it is the 'Modelar' document, the variable will be equal to the content
        before the first space.
        If it it the 'Estimar' document, the variable will be transformed to the
        original format

        Original Format: 'DD/MM/AAAA' in (text format)


        """

        temp = ''

        if self.document == 'Modelar':
            data['fecha'] = pd.to_datetime(data['fecha'],infer_datetime_format=True).apply(lambda x : x.strftime('%d/%m/%Y'))
        elif self.document == 'Estimar':
            # agregar la modificación para el documento Estimar
            data['fecha']
        else:
            print('Unknown document!!!')


        return data

### Drop duplicates

In [8]:
class drop_dup(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and return the dataframe without duplicates.

        """

        return data.drop_duplicates()

### Data Preprocessing Pipeline

In [9]:
data_prep_pipeline = Pipeline([
         ('drop_dup', drop_dup()),
         ('time_format', time_format(document='Modelar'))
])


data_prepared = data_prep_pipeline.fit_transform(data)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Missing Values

In [10]:
## Get the missing values per attribute
data.isnull().sum()

fecha                      0
id                         0
visitas                    0
categoria_uno              0
categoria_dos           5844
estado                     0
precio               2642911
dia_atipico                0
campaña                    0
antiguedad            874165
unidades_vendidas          0
dtype: int64

In [11]:
data_final = data_prepared.copy()
data_final['fecha'] = data_final['fecha'].apply( lambda i : datetime.strptime(i , "%d/%m/%Y"))  
data_final.sort_values(by=['fecha'], inplace=True, ascending=True)
data_final = data_final.reset_index(drop=True)

In [12]:
data_final[data_final['id'] == str(23910)]

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
2770,2015-01-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
8340,2015-01-07,23910,0,C,170,No Rotura,NaN,0,0,5241,0
11114,2015-01-08,23910,2,C,170,No Rotura,NaN,0,0,5241,0
13907,2015-01-09,23910,11,C,170,No Rotura,6.12,0,0,5241,21
19458,2015-01-10,23910,12,C,170,No Rotura,NaN,0,0,5241,0
23624,2015-01-11,23910,3,C,170,No Rotura,NaN,-1,0,5241,0
27796,2015-01-12,23910,6,C,170,No Rotura,NaN,0,0,5241,0
30589,2015-02-06,23910,3,C,170,No Rotura,NaN,0,0,5241,0
36136,2015-02-07,23910,6,C,170,No Rotura,6.08,1,0,5241,3
40310,2015-02-08,23910,5,C,170,No Rotura,NaN,0,0,5241,0
43106,2015-02-09,23910,4,C,170,No Rotura,NaN,0,0,5241,0
49696,2015-02-10,23910,3,C,170,No Rotura,6.12,0,0,5241,3
51446,2015-02-11,23910,3,C,170,No Rotura,6.12,0,0,5241,6
54224,2015-02-12,23910,9,C,170,No Rotura,6.12,0,0,5241,9
59787,2015-03-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
66733,2015-03-07,23910,1,C,170,No Rotura,NaN,1,0,5241,0
69507,2015-03-08,23910,1,C,170,No Rotura,NaN,0,0,5241,0
72303,2015-03-09,23910,6,C,170,No Rotura,NaN,0,0,5241,0
77846,2015-03-10,23910,4,C,170,No Rotura,NaN,0,0,5241,0
82897,2015-03-11,23910,0,C,170,No Rotura,NaN,0,0,5241,0
84817,2015-03-12,23910,4,C,170,No Rotura,NaN,0,0,5241,0
90413,2015-04-06,23910,6,C,170,No Rotura,6.07,0,0,5241,18
94633,2015-04-07,23910,4,C,170,No Rotura,NaN,1,0,5241,0
100255,2015-04-08,23910,5,C,170,No Rotura,6.12,0,0,5241,3
104426,2015-04-09,23910,12,C,170,No Rotura,6.12,0,0,5241,3
106512,2015-04-10,23910,11,C,170,No Rotura,NaN,0,0,5241,0
108601,2015-04-11,23910,4,C,170,No Rotura,NaN,0,0,5241,0
115541,2015-04-12,23910,15,C,170,No Rotura,6.12,0,0,5241,12
119712,2015-05-06,23910,5,C,170,No Rotura,6.07,0,0,5241,12
122462,2015-05-07,23910,5,C,170,No Rotura,NaN,1,0,5241,0
...,...,...,...,...,...,...,...,...,...,...,...
1917677,2016-09-28,23910,15,C,170,No Rotura,NaN,0,0,5241,0
1921846,2016-09-29,23910,35,C,170,No Rotura,NaN,0,0,5241,0
1926015,2016-09-30,23910,30,C,170,No Rotura,NaN,0,0,5241,0
1927417,2016-10-01,23910,10,C,170,No Rotura,6.07,0,0,5241,3
1934358,2016-10-02,23910,25,C,170,No Rotura,NaN,0,0,5241,0
1937155,2016-10-03,23910,50,C,170,No Rotura,6.07,0,0,5241,3
1941325,2016-10-04,23910,70,C,170,No Rotura,6.07,0,0,5241,3
1944104,2016-10-05,23910,35,C,170,No Rotura,NaN,0,0,5241,0
1948273,2016-10-06,23910,25,C,170,No Rotura,NaN,0,0,5241,0
1952443,2016-10-07,23910,35,C,170,No Rotura,6.07,0,0,5241,3
1958009,2016-10-08,23910,30,C,170,No Rotura,6.07,0,0,5241,9
1962871,2016-10-09,23910,65,C,170,No Rotura,6.07,0,0,5241,3
1964958,2016-11-01,23910,12,C,170,No Rotura,NaN,0,0,5241,0
1971210,2016-11-02,23910,60,C,170,No Rotura,6.07,0,0,5241,21
1976068,2016-11-03,23910,70,C,170,No Rotura,NaN,0,0,5241,0
1980243,2016-11-04,23910,30,C,170,No Rotura,6.07,0,0,5241,12
1984411,2016-11-05,23910,5,C,170,No Rotura,NaN,0,0,5241,0
1985813,2016-11-06,23910,65,C,170,No Rotura,6.07,0,0,5241,3
1992755,2016-11-07,23910,20,C,170,No Rotura,NaN,0,0,5241,0
1998325,2016-11-08,23910,45,C,170,No Rotura,6.07,0,0,5241,3
1999717,2016-11-09,23910,50,C,170,No Rotura,6.07,0,0,5241,3
2005266,2016-12-01,23910,18,C,170,No Rotura,6.07,0,0,5241,3
2009439,2016-12-02,23910,35,C,170,No Rotura,NaN,0,0,5241,0
2010839,2016-12-03,23910,55,C,170,No Rotura,NaN,0,0,5241,0
2016408,2016-12-04,23910,30,C,170,No Rotura,NaN,0,0,5241,0
2021952,2016-12-05,23910,10,C,170,No Rotura,6.07,0,0,5241,3
2026123,2016-12-06,23910,0,C,170,No Rotura,NaN,0,0,5241,0
2028918,2016-12-07,23910,35,C,170,No Rotura,NaN,0,0,5241,0
2033091,2016-12-08,23910,25,C,170,No Rotura,6.07,0,0,5241,3
2037262,2016-12-09,23910,30,C,170,No Rotura,NaN,0,0,5241,0

In [13]:
last_values = dict([ (i, 0) for i in data_final.id.unique() ])

df_index = 0

for index, value in zip(data_final.id, data_final.precio):
    if pd.notna(float(value)):
        last_values[index] = value
    else:
        data_final.at[df_index, 'precio'] = last_values[index]
   
    df_index += 1

In [14]:
data_final[data_final['id'] == str(23910)]

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
2770,2015-01-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
8340,2015-01-07,23910,0,C,170,No Rotura,6.07,0,0,5241,0
11114,2015-01-08,23910,2,C,170,No Rotura,6.07,0,0,5241,0
13907,2015-01-09,23910,11,C,170,No Rotura,6.12,0,0,5241,21
19458,2015-01-10,23910,12,C,170,No Rotura,6.12,0,0,5241,0
23624,2015-01-11,23910,3,C,170,No Rotura,6.12,-1,0,5241,0
27796,2015-01-12,23910,6,C,170,No Rotura,6.12,0,0,5241,0
30589,2015-02-06,23910,3,C,170,No Rotura,6.12,0,0,5241,0
36136,2015-02-07,23910,6,C,170,No Rotura,6.08,1,0,5241,3
40310,2015-02-08,23910,5,C,170,No Rotura,6.08,0,0,5241,0
43106,2015-02-09,23910,4,C,170,No Rotura,6.08,0,0,5241,0
49696,2015-02-10,23910,3,C,170,No Rotura,6.12,0,0,5241,3
51446,2015-02-11,23910,3,C,170,No Rotura,6.12,0,0,5241,6
54224,2015-02-12,23910,9,C,170,No Rotura,6.12,0,0,5241,9
59787,2015-03-06,23910,5,C,170,No Rotura,6.07,0,0,5241,3
66733,2015-03-07,23910,1,C,170,No Rotura,6.07,1,0,5241,0
69507,2015-03-08,23910,1,C,170,No Rotura,6.07,0,0,5241,0
72303,2015-03-09,23910,6,C,170,No Rotura,6.07,0,0,5241,0
77846,2015-03-10,23910,4,C,170,No Rotura,6.07,0,0,5241,0
82897,2015-03-11,23910,0,C,170,No Rotura,6.07,0,0,5241,0
84817,2015-03-12,23910,4,C,170,No Rotura,6.07,0,0,5241,0
90413,2015-04-06,23910,6,C,170,No Rotura,6.07,0,0,5241,18
94633,2015-04-07,23910,4,C,170,No Rotura,6.07,1,0,5241,0
100255,2015-04-08,23910,5,C,170,No Rotura,6.12,0,0,5241,3
104426,2015-04-09,23910,12,C,170,No Rotura,6.12,0,0,5241,3
106512,2015-04-10,23910,11,C,170,No Rotura,6.12,0,0,5241,0
108601,2015-04-11,23910,4,C,170,No Rotura,6.12,0,0,5241,0
115541,2015-04-12,23910,15,C,170,No Rotura,6.12,0,0,5241,12
119712,2015-05-06,23910,5,C,170,No Rotura,6.07,0,0,5241,12
122462,2015-05-07,23910,5,C,170,No Rotura,6.07,1,0,5241,0
...,...,...,...,...,...,...,...,...,...,...,...
1917677,2016-09-28,23910,15,C,170,No Rotura,6.07,0,0,5241,0
1921846,2016-09-29,23910,35,C,170,No Rotura,6.07,0,0,5241,0
1926015,2016-09-30,23910,30,C,170,No Rotura,6.07,0,0,5241,0
1927417,2016-10-01,23910,10,C,170,No Rotura,6.07,0,0,5241,3
1934358,2016-10-02,23910,25,C,170,No Rotura,6.07,0,0,5241,0
1937155,2016-10-03,23910,50,C,170,No Rotura,6.07,0,0,5241,3
1941325,2016-10-04,23910,70,C,170,No Rotura,6.07,0,0,5241,3
1944104,2016-10-05,23910,35,C,170,No Rotura,6.07,0,0,5241,0
1948273,2016-10-06,23910,25,C,170,No Rotura,6.07,0,0,5241,0
1952443,2016-10-07,23910,35,C,170,No Rotura,6.07,0,0,5241,3
1958009,2016-10-08,23910,30,C,170,No Rotura,6.07,0,0,5241,9
1962871,2016-10-09,23910,65,C,170,No Rotura,6.07,0,0,5241,3
1964958,2016-11-01,23910,12,C,170,No Rotura,6.07,0,0,5241,0
1971210,2016-11-02,23910,60,C,170,No Rotura,6.07,0,0,5241,21
1976068,2016-11-03,23910,70,C,170,No Rotura,6.07,0,0,5241,0
1980243,2016-11-04,23910,30,C,170,No Rotura,6.07,0,0,5241,12
1984411,2016-11-05,23910,5,C,170,No Rotura,6.07,0,0,5241,0
1985813,2016-11-06,23910,65,C,170,No Rotura,6.07,0,0,5241,3
1992755,2016-11-07,23910,20,C,170,No Rotura,6.07,0,0,5241,0
1998325,2016-11-08,23910,45,C,170,No Rotura,6.07,0,0,5241,3
1999717,2016-11-09,23910,50,C,170,No Rotura,6.07,0,0,5241,3
2005266,2016-12-01,23910,18,C,170,No Rotura,6.07,0,0,5241,3
2009439,2016-12-02,23910,35,C,170,No Rotura,6.07,0,0,5241,0
2010839,2016-12-03,23910,55,C,170,No Rotura,6.07,0,0,5241,0
2016408,2016-12-04,23910,30,C,170,No Rotura,6.07,0,0,5241,0
2021952,2016-12-05,23910,10,C,170,No Rotura,6.07,0,0,5241,3
2026123,2016-12-06,23910,0,C,170,No Rotura,6.07,0,0,5241,0
2028918,2016-12-07,23910,35,C,170,No Rotura,6.07,0,0,5241,0
2033091,2016-12-08,23910,25,C,170,No Rotura,6.07,0,0,5241,3
2037262,2016-12-09,23910,30,C,170,No Rotura,6.07,0,0,5241,0

Imputar la variable antiguedad por la media y la categoría dos por 0(de Momento).

In [15]:
# Get the median value
median = data_final['antiguedad'].median()

# Fill the NA Values with the median
data_final['antiguedad'].fillna(median, inplace=True)
#data_final['categoria_dos'].fillna(, inplace=True) # De momento dejadlo así, ya estoy buscando la manera de hacerlo con clustering

In [16]:
#last_values = dict([ (i, 0) for i in data_final.id.unique() ])
list_values = []
df_index = 0
null_count = 0

for index, value in zip(data_final.id, data_final.categoria_dos):
    if  pd.notna(float(value)):
        # last_values[index] = value
        list_values.append(value)
    else:
        null_count += 1
        list_values.append(list_values[len(list_values)-1])
   
    df_index += 1
    
print(len(list_values), null_count)
data_final['categoria_dos'] = np.array(list_values)
data_final['categoria_dos'] = data_final['categoria_dos'].astype('category')

2040037 4393

In [17]:
data_final['dia_atipico'] = data_final['dia_atipico'].replace(['0', '1', '-1'], ["Venta_Normal", "Venta_alta", "Venta_Baja"])

In [18]:
data_final.dia_atipico

0          Venta_Normal
1          Venta_Normal
2          Venta_Normal
3          Venta_Normal
4          Venta_Normal
5          Venta_Normal
6          Venta_Normal
7          Venta_Normal
8          Venta_Normal
9          Venta_Normal
10         Venta_Normal
11         Venta_Normal
12         Venta_Normal
13         Venta_Normal
14         Venta_Normal
15         Venta_Normal
16         Venta_Normal
17         Venta_Normal
18         Venta_Normal
19         Venta_Normal
20         Venta_Normal
21         Venta_Normal
22         Venta_Normal
23         Venta_Normal
24         Venta_Normal
25         Venta_Normal
26         Venta_Normal
27         Venta_Normal
28         Venta_Normal
29         Venta_Normal
               ...
2040007    Venta_Normal
2040008    Venta_Normal
2040009    Venta_Normal
2040010    Venta_Normal
2040011    Venta_Normal
2040012    Venta_Normal
2040013    Venta_Normal
2040014    Venta_Normal
2040015    Venta_Normal
2040016    Venta_Normal
2040017    Venta_Normal
2040018    Venta_Normal
2040019    Venta_Normal
2040020    Venta_Normal
2040021    Venta_Normal
2040022    Venta_Normal
2040023    Venta_Normal
2040024    Venta_Normal
2040025    Venta_Normal
2040026    Venta_Normal
2040027    Venta_Normal
2040028    Venta_Normal
2040029    Venta_Normal
2040030    Venta_Normal
2040031    Venta_Normal
2040032    Venta_Normal
2040033    Venta_Normal
2040034    Venta_Normal
2040035    Venta_Normal
2040036    Venta_Normal
Name: dia_atipico, Length: 2040037, dtype: object

### One Hot Encoding

In [19]:
data_final.isnull().sum()

fecha                0
id                   0
visitas              0
categoria_uno        0
categoria_dos        0
estado               0
precio               0
dia_atipico          0
campaña              0
antiguedad           0
unidades_vendidas    0
dtype: int64

In [20]:
# concatenamos las dos columnas 
#data_final['categoria'] = data_final["categoria_uno"].str.cat(data_final.categoria_dos, sep ="") 
#data_final['categoria']
#data_final.drop(columns=['categoria_uno', 'categoria_dos'], inplace = True)
#data_final

In [23]:
encoder = OneHotEncoder()

enc_df = pd.DataFrame(encoder.fit_transform(data_final[['estado','dia_atipico','categoria_uno','categoria_dos']]).toarray())

data_model = data_final.join(enc_df)

data_model = data_model.drop(columns=['estado','dia_atipico','categoria_uno','categoria_dos'])

data_model

,fecha,id,visitas,precio,campaña,antiguedad,unidades_vendidas,0,1,2,...,191,192,193,194,195,196,197,198,199,200
0,2015-01-06,21972,0,0.00,0,5241,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-06,327312,12,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-06,327330,7,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-06,327348,16,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-01-06,327380,2,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-06,327386,3,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2015-01-06,327468,27,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2015-01-06,327474,20,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2015-01-06,327480,19,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2015-01-06,327518,11,0.00,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2015-01-06,327544,32,0.00,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2015-01-06,327594,6,0.00,0,579,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2015-01-06,327656,14,0.00,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2015-01-06,327736,11,0.00,0,579,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2015-01-06,327262,7,0.00,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2015-01-06,327832,14,0.00,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2015-01-06,327880,7,0.00,0,831,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2015-01-06,327928,10,0.00,0,578,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2015-01-06,327934,14,0.00,0,578,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2015-01-06,327950,5,0.00,0,578,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2015-01-06,327984,15,0.00,0,831,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2015-01-06,147830,0,0.00,0,1890,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2015-01-06,158668,0,0.00,0,1776,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2015-01-06,159348,0,0.00,0,1767,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2015-01-06,211204,0,0.00,0,1176,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2015-01-06,212294,0,0.00,0,1162,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2015-01-06,217538,0,0.00,0,1133,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2015-01-06,246168,0,0.00,0,1008,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2015-01-06,263836,0,0.00,0,923,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2015-01-06,327844,11,0.00,0,579,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040007,2016-12-09,212294,45,37.26,0,1162,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040008,2016-12-09,211204,5,41.33,0,1176,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040009,2016-12-09,159348,865,40.15,0,1767,39,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040010,2016-12-09,158668,130,24.67,0,1776,12,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040011,2016-12-09,147830,60,31.72,0,1890,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040012,2016-12-09,327984,0,11.94,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040013,2016-12-09,327950,160,81.72,0,578,3,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040014,2016-12-09,327934,110,42.44,0,578,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040015,2016-12-09,327928,205,46.08,0,578,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040016,2016-12-09,327880,0,7.41,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040017,2016-12-09,327844,35,90.00,0,579,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040018,2016-12-09,327832,15,148.05,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040019,2016-12-09,327736,40,22.23,0,579,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040020,2016-12-09,327656,0,30.63,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040021,2016-12-09,327594,50,19.15,0,579,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040022,2016-12-09,327544,10,79.23,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040023,2016-12-09,327518,25,93.77,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040024,2016-12-09,327480,80,8.65,0,580,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040025,2016-12-09,327474,75,19.18,0,580,6,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040026,2016-12-09,327468,950,15.39,0,580,45,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040027,2016-12-09,327386,55,10.17,0,580,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040028,2016-12-09,327380,0,6.12,0,580,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040029,2016-12-09,327348,10,34.11,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040030,2016-12-09,327330,20,34.11,0,580,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040031,2016-12-09,327312,75,34.11,0,580,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040032,2016-12-09,327262,40,40.15,0,580,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040033,2016-12-09,327036,45,14.19,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040034,2016-12-09,326868,10,8.25,0,581,3,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040035,2016-12-09,326838,0,10.76,0,831,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2040036,2016-12-09,458660,440,68.49,0,126,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Outliers

No debe haber outliers

# Select a model and train it

# Fine-tune your model

# Present your solution