# Look at the big picture.

## Libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from datetime import datetime
from statistics import median
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%load_ext pycodestyle_magic

In [3]:
# Activamos las alertas de estilo
%pycodestyle_on

## Performance Metric

In [31]:
def performance(y_true: list, y_pred: list) -> float:
    """

    """

    CF = [1 for _ in y_true if y_pred > y_true] / len(y_pred) * 100
    RMSE = mean_squared_errors(y_true, y_pred)
    sEMSE = RMSE / median(y_true)
    metric = (0.7 * rRMSE) + (0.3 * (1 - CF))

    return metric

# Get the data

In [32]:
dtypes = {
    "fecha": "string",
    "id": "category",
    "visitas": "Int64",
    "categoria_uno": "category",
    "categoria_dos": "category",
    "estado": "category",
    "precio": "Float64",
    "dia_atipico": "category",
    "campaña": "category",
    "antiguedad": "Int64",
    "unidades_vendidas": "Int64"    
}

# Read the data
data = pd.read_csv('./data/Modelar_UH2021.txt', delimiter="|", dtype=dtypes, decimal=',')

## Overview the data

In [33]:
data.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
0,1/6/2015 0:00:00,21972,0,C,75,No Rotura,NaN,0,0,5241,0
1,1/6/2015 0:00:00,23910,5,C,170,No Rotura,6.07,0,0,5241,3
2,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
3,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
4,1/6/2015 0:00:00,27144,15,E,230,No Rotura,NaN,0,0,4064,0

In [5]:
data.describe()

            visitas        precio    antiguedad  unidades_vendidas
count  4.045022e+06  1.402111e+06  3.170857e+06       4.045022e+06
mean   1.721371e+02  3.424319e+01  1.011114e+03       4.693434e+00
std    6.889116e+02  2.330943e+01  7.162509e+02       2.237403e+01
min    0.000000e+00  3.570000e+00  1.260000e+02       0.000000e+00
25%    7.000000e+00  1.652000e+01  5.240000e+02       0.000000e+00
50%    3.500000e+01  2.689000e+01  7.950000e+02       0.000000e+00
75%    1.300000e+02  4.535000e+01  1.244000e+03       3.000000e+00
max    1.200450e+05  1.757800e+02  5.310000e+03       4.881000e+03

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4045022 entries, 0 to 4045021
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   fecha              string
 1   id                 category
 2   visitas            Int64
 3   categoria_uno      category
 4   categoria_dos      category
 5   estado             category
 6   precio             float64
 7   dia_atipico        category
 8   campaña            category
 9   antiguedad         Int64
 10  unidades_vendidas  Int64
dtypes: Int64(3), category(6), float64(1), string(1)
memory usage: 196.9 MB

# Discover and visualize the data to gain insights

# Prepare the data for Machine Learning algorithms


## Missing values

In [22]:
data_prepared.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
0,06/01/2015,21972,0,C,75,No Rotura,NaN,0,0,5241,0
1,06/01/2015,23910,5,C,170,No Rotura,6.07,0,0,5241,3
2,06/01/2015,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
4,06/01/2015,27144,15,E,230,No Rotura,NaN,0,0,4064,0
5,06/01/2015,27504,7,C,157,No Rotura,NaN,0,0,5261,0

In [14]:
data_prepared.dtypes

fecha                  object
id                   category
visitas                 Int64
categoria_uno        category
categoria_dos        category
estado               category
precio                float64
dia_atipico          category
campaña              category
antiguedad              Int64
unidades_vendidas       Int64
dtype: object

In [41]:
data_final = data_prepared.copy()
data_final['fecha'] = data_final['format_fecha'].apply( lambda i : datetime.strptime(i , "%d/%m/%Y"))  
data_final.sort_values(by=['fecha'], inplace=True, ascending=True)

In [42]:
data_final.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas,format_fecha
0,2015-01-06,21972,0,C,75,No Rotura,NaN,0,0,5241,0,06/01/2015
5409,2015-01-06,327312,12,A,236,Rotura,NaN,0,0,580,0,06/01/2015
5415,2015-01-06,327330,7,A,236,Rotura,NaN,0,0,580,0,06/01/2015
5421,2015-01-06,327348,16,A,236,Rotura,NaN,0,0,580,0,06/01/2015
5427,2015-01-06,327380,2,L,131,Rotura,NaN,0,0,580,0,06/01/2015

In [38]:
data_prepared.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas,format_fecha
0,1/6/2015 0:00:00,21972,0,C,75,No Rotura,NaN,0,0,5241,0,06/01/2015
1,1/6/2015 0:00:00,23910,5,C,170,No Rotura,6.07,0,0,5241,3,06/01/2015
2,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0,06/01/2015
4,1/6/2015 0:00:00,27144,15,E,230,No Rotura,NaN,0,0,4064,0,06/01/2015
5,1/6/2015 0:00:00,27504,7,C,157,No Rotura,NaN,0,0,5261,0,06/01/2015

In [28]:
data_prepared.head(50)

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
0,06/01/2015,21972,0,C,75,No Rotura,NaN,0,0,5241,0
1,06/01/2015,23910,5,C,170,No Rotura,6.07,0,0,5241,3
2,06/01/2015,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0
4,06/01/2015,27144,15,E,230,No Rotura,NaN,0,0,4064,0
5,06/01/2015,27504,7,C,157,No Rotura,NaN,0,0,5261,0
6,06/01/2015,30014,5,C,63,No Rotura,6.12,0,0,2954,3
7,06/01/2015,30522,0,C,76,No Rotura,NaN,0,0,5241,0
8,06/01/2015,31180,11,B,224,No Rotura,8.05,0,0,5310,42
9,06/01/2015,34176,8,C,66,No Rotura,NaN,0,0,3970,0
10,06/01/2015,35732,8,A,263,No Rotura,26.24,0,0,3069,9
11,06/01/2015,39662,3,C,65,No Rotura,NaN,0,0,3070,0
12,06/01/2015,39676,4,B,312,No Rotura,NaN,0,0,3743,0
13,06/01/2015,39912,5,C,72,No Rotura,NaN,0,0,3847,0
14,06/01/2015,40850,12,A,34,No Rotura,14.18,0,0,5159,3
15,06/01/2015,43640,1,A,103,No Rotura,NaN,0,0,3870,0
16,06/01/2015,43938,36,A,34,No Rotura,14.59,0,0,3673,15
17,06/01/2015,44988,6,G,155,No Rotura,NaN,0,0,3255,0
20,06/01/2015,44990,2,G,155,Rotura,NaN,0,0,3233,0
24,06/01/2015,44992,5,G,155,No Rotura,15.38,0,0,3421,3
25,06/01/2015,54034,1,B,92,Transito,11.19,0,0,3956,3
26,06/01/2015,56298,19,C,160,No Rotura,NaN,0,0,2453,0
27,06/01/2015,56310,11,C,160,No Rotura,10.17,0,0,4355,9
28,06/01/2015,59052,8,C,75,No Rotura,NaN,0,0,3213,0
29,06/01/2015,59474,3,A,263,No Rotura,NaN,0,0,<NA>,0
30,06/01/2015,60008,23,C,73,No Rotura,6.12,0,0,4662,36
31,06/01/2015,60856,3,B,312,No Rotura,5.84,0,0,4000,12
32,06/01/2015,60858,2,B,312,No Rotura,5.84,0,0,4000,9
33,06/01/2015,60860,2,B,312,No Rotura,5.84,0,0,4000,6
34,06/01/2015,60862,6,B,312,No Rotura,6.07,0,0,4000,12
35,06/01/2015,61910,0,C,72,No Rotura,NaN,0,0,4173,0
36,06/01/2015,63058,17,C,161,No Rotura,10.02,0,0,4428,3
37,06/01/2015,63486,8,A,34,No Rotura,NaN,0,0,4401,0
38,06/01/2015,64798,6,C,160,No Rotura,NaN,0,0,4273,0
39,06/01/2015,66172,10,H,192,Transito,9.86,0,0,4159,15
41,06/01/2015,66534,8,A,271,No Rotura,NaN,0,0,2990,0
42,06/01/2015,66830,2,C,75,No Rotura,NaN,0,0,3558,0
43,06/01/2015,67020,6,C,157,No Rotura,7.17,0,0,4092,27
44,06/01/2015,67022,11,C,157,No Rotura,10.02,0,0,4092,12
45,06/01/2015,68774,16,A,46,No Rotura,NaN,0,0,<NA>,0
46,06/01/2015,69214,26,A,69,No Rotura,26.88,0,0,3938,3
47,06/01/2015,69418,9,A,69,No Rotura,NaN,0,0,3206,0
48,06/01/2015,69894,2,B,312,No Rotura,14.18,0,0,3631,3
49,06/01/2015,71376,8,C,161,No Rotura,12.85,0,0,3799,6
50,06/01/2015,73036,3,C,75,No Rotura,NaN,0,0,3205,0
51,06/01/2015,73230,6,A,338,No Rotura,NaN,0,0,3056,0
55,06/01/2015,73654,16,G,29,No Rotura,NaN,0,0,3690,0
56,06/01/2015,73906,90,G,29,No Rotura,11.84,0,0,3681,6
57,06/01/2015,74134,11,C,157,No Rotura,NaN,0,0,3673,0
58,06/01/2015,75218,19,G,155,No Rotura,NaN,0,0,3628,0
59,06/01/2015,75220,8,G,155,No Rotura,13.65,0,0,3628,3

def na_val(index):
    
    lista = data_final.precio[data_final['id'] == str(index)].to_list()
    pila = []
    
    for i in
     
    
    return lista
    
na_val(23910)

In [36]:
data_prepared.dtypes

fecha                  object
id                   category
visitas                 Int64
categoria_uno        category
categoria_dos        category
estado               category
precio                float64
dia_atipico          category
campaña              category
antiguedad              Int64
unidades_vendidas       Int64
dtype: object

In [35]:
import math

for index, value in zip(data.id, data.precio):
    if pd.isna(float(value)):
        # na_val(index)
        pass

In [41]:
data.head(50)

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas,precio_solved
1781636,1/1/2016 0:00:00,295520,17,A,82,No Rotura,None,-1,0,715,0,295520
1780243,1/1/2016 0:00:00,251626,1,F,341,No Rotura,None,-1,0,<NA>,0,251626
1780244,1/1/2016 0:00:00,251682,39,H,307,No Rotura,None,-1,0,<NA>,0,251682
1780245,1/1/2016 0:00:00,251682,39,H,307,No Rotura,None,-1,0,<NA>,0,251682
1780246,1/1/2016 0:00:00,251732,2,H,307,No Rotura,None,-1,0,<NA>,0,251732
1780247,1/1/2016 0:00:00,251742,6,F,20,No Rotura,None,-1,0,980,6,251742
1780248,1/1/2016 0:00:00,251754,2,F,20,No Rotura,None,-1,0,980,3,251754
1780249,1/1/2016 0:00:00,251760,2,F,20,No Rotura,None,-1,0,980,0,251760
1780250,1/1/2016 0:00:00,251760,2,F,20,No Rotura,None,-1,0,980,0,251760
1780251,1/1/2016 0:00:00,251772,9,F,20,No Rotura,None,-1,0,980,0,251772
1780252,1/1/2016 0:00:00,251772,9,F,20,No Rotura,None,-1,0,980,0,251772
1780253,1/1/2016 0:00:00,251780,9,H,307,Rotura,None,-1,0,980,0,251780
1780254,1/1/2016 0:00:00,251786,32,H,307,Rotura,None,-1,0,<NA>,0,251786
1780255,1/1/2016 0:00:00,251822,86,H,307,No Rotura,None,-1,0,980,0,251822
1780242,1/1/2016 0:00:00,251626,1,F,341,No Rotura,None,-1,0,<NA>,0,251626
1780256,1/1/2016 0:00:00,251892,0,H,86,No Rotura,None,-1,0,980,0,251892
1780258,1/1/2016 0:00:00,251906,3,A,255,No Rotura,None,-1,0,980,0,251906
1780259,1/1/2016 0:00:00,251906,3,A,255,No Rotura,None,-1,0,980,0,251906
1780260,1/1/2016 0:00:00,251906,3,A,255,No Rotura,None,-1,0,980,0,251906
1780261,1/1/2016 0:00:00,251926,6,A,255,No Rotura,None,-1,0,980,3,251926
1780262,1/1/2016 0:00:00,251942,0,K,7,No Rotura,None,-1,0,980,0,251942
1780263,1/1/2016 0:00:00,251946,1,A,34,No Rotura,None,-1,0,980,0,251946
1780264,1/1/2016 0:00:00,252010,8,A,16,No Rotura,None,-1,0,980,0,252010
1780265,1/1/2016 0:00:00,252026,18,A,304,No Rotura,None,-1,0,980,3,252026
1780266,1/1/2016 0:00:00,252030,10,A,16,No Rotura,None,-1,0,980,0,252030
1780267,1/1/2016 0:00:00,252060,7,A,16,No Rotura,None,-1,0,980,0,252060
1780268,1/1/2016 0:00:00,252072,6,A,16,No Rotura,None,-1,0,980,0,252072
1780269,1/1/2016 0:00:00,252090,9,A,16,No Rotura,None,-1,0,980,0,252090
1780270,1/1/2016 0:00:00,252164,0,K,7,No Rotura,None,-1,0,<NA>,0,252164
1780257,1/1/2016 0:00:00,251906,3,A,255,No Rotura,None,-1,0,980,0,251906
1780271,1/1/2016 0:00:00,252170,0,K,7,No Rotura,None,-1,0,<NA>,0,252170
1780241,1/1/2016 0:00:00,251488,4,A,304,No Rotura,None,-1,0,981,0,251488
1780239,1/1/2016 0:00:00,251306,28,I,183,No Rotura,None,-1,0,984,0,251306
1780211,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780212,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780213,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780214,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780215,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780216,1/1/2016 0:00:00,251040,47,H,192,No Rotura,None,-1,0,984,12,251040
1780217,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780218,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780219,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780220,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780221,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780222,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780223,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780240,1/1/2016 0:00:00,251382,7,A,343,Rotura,None,-1,0,<NA>,0,251382
1780224,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780226,1/1/2016 0:00:00,251050,60,H,192,No Rotura,None,-1,0,984,24,251050
1780227,1/1/2016 0:00:00,251076,4,A,127,No Rotura,None,-1,0,984,0,251076

In [32]:
precio_dict

{'295520': nan,
 '251626': nan,
 '251682': nan,
 '251732': nan,
 '251742': nan,
 '251754': nan,
 '251760': nan,
 '251772': nan,
 '251780': nan,
 '251786': nan,
 '251822': nan,
 '251892': nan,
 '251906': nan,
 '251926': nan,
 '251942': nan,
 '251946': nan,
 '252010': nan,
 '252026': nan,
 '252030': nan,
 '252060': nan,
 '252072': nan,
 '252090': nan,
 '252164': nan,
 '252170': nan,
 '251488': nan,
 '251306': nan,
 '251040': 18.75,
 '251050': 14.42,
 '251382': nan,
 '251076': nan,
 '251126': nan,
 '251156': 22.74,
 '251228': nan,
 '251266': nan,
 '252254': nan,
 '252262': nan,
 '253306': nan,
 '253346': nan,
 '253540': nan,
 '253614': nan,
 '253646': nan,
 '253708': nan,
 '253918': nan,
 '253956': nan,
 '253964': nan,
 '253282': nan,
 '253974': nan,
 '254040': 47.74,
 '254052': nan,
 '253192': nan,
 '253186': nan,
 '252318': 11.86,
 '252322': 11.86,
 '252540': nan,
 '252632': nan,
 '252672': nan,
 '252692': nan,
 '252700': nan,
 '252716': 21.07,
 '252868': nan,
 '252884': 8.29,
 '252888': nan,
 '252900': nan,
 '252906': nan,
 '252916': 8.67,
 '252928': 9.32,
 '252956': nan,
 '252972': nan,
 '253150': nan,
 '253154': 13.32,
 '253174': nan,
 '251028': nan,
 '251016': nan,
 '245060': nan,
 '245224': 54.86,
 '245344': nan,
 '245372': 14.19,
 '245438': 15.4,
 '245486': 26.89,
 '245560': nan,
 '245562': nan,
 '245942': nan,
 '246524': nan,
 '246586': nan,
 '245040': 19.45,
 '246592': nan,
 '246852': nan,
 '246902': 21.7,
 '246930': nan,
 '246944': 11.86,
 '246964': nan,
 '246996': nan,
 '246998': 10.76,
 '247024': nan,
 '246648': nan,
 '244962': nan,
 '244956': nan,
 '242466': nan,
 '242794': 12.52,
 '242878': nan,
 '242968': nan,
 '242990': nan,
 '243082': nan,
 '243120': nan,
 '243302': nan,
 '243316': 10.47,
 '243340': 10.17,
 '243430': nan,
 '243520': 28.09,
 '243556': 21.17,
 '243640': 12.85,
 '243654': 14.19,
 '243868': nan,
 '244060': nan,
 '244806': nan,
 '244928': nan,
 '254118': nan,
 '247034': nan,
 '250132': 20.89,
 '250138': nan,
 '250364': 27.93,
 '250478': nan,
 '250616': nan,
 '250942': 34.28,
 '250972': 27.92,
 '250984': 21.7,
 '250016': nan,
 '249982': nan,
 '247076': nan,
 '247082': nan,
 '247170': 10.92,
 '247182': nan,
 '247188': 10.17,
 '247192': 15.12,
 '247590': nan,
 '247740': nan,
 '248132': nan,
 '248678': nan,
 '248836': 19.15,
 '248840': 18.84,
 '248924': nan,
 '248938': nan,
 '248978': nan,
 '248994': 7.64,
 '248996': 7.9,
 '249010': 9.01,
 '249518': nan,
 '249950': nan,
 '249956': nan,
 '254194': nan,
 '254404': nan,
 '262608': 19.45,
 '262656': 17.22,
 '262738': 7.41,
 '262748': 13.32,
 '262878': nan,
 '262880': 8.01,
 '262908': 13.74,
 '262332': 11.86,
 '263020': nan,
 '263148': nan,
 '263164': nan,
 '263206': nan,
 '263218': 7.13,
 '263224': nan,
 '263322': 7.85,
 '263334': 8.65,
 '263498': nan,
 '263804': nan,
 '263824': nan,
 '263950': nan,
 '263030': nan,
 '262326': nan,
 '262252': nan,
 '262186': 13.76,
 '261660': 33.44,
 '261684': nan,
 '261690': nan,
 '261736': nan,
 '261798': nan,
 '261836': nan,
 '261864': nan,
 '261894': nan,
 '261910': 11.86,
 '261918': nan,
 '262052': nan,
 '262056': nan,
 '262064': 6.42,
 '262070': 10.92,
 '262074': nan,
 '262092': nan,
 '264042': nan,
 '264086': nan,
 '264144': nan,
 '264490': 40.15,
 '264492': 40.15,
 '264496': 40.15,
 '264502': 40.15,
 '264150': nan,
 '264176': 10.76,
 '264240': nan,
 '264284': nan,
 '264306': 9.52,
 '264310': nan,
 '264316': 9.68,
 '264328': nan,
 '264476': nan,
 '264488': 40.15,
 '261478': 10.98,
 '261408': 14.6,
 '256592': 17.22,
 '256722': nan,
 '256738': nan,
 '256844': nan,
 '256986': nan,
 '257040': nan,
 '257108': 35.72,
 '257118': nan,
 '257140': 16.52,
 '257404': nan,
 '256578': 12.24,
 '257934': nan,
 '258746': 18.63,
 '258882': nan,
 '259008': nan,
 '256546': nan,
 '256528': 10.46,
 '256120': 13.76,
 '254894': 47.04,
 '255070': 42.31,
 '255190': 18.53,
 '255204': nan,
 '255224': nan,
 '255242': nan,
 '255312': nan,
 '255782': 15.01,
 '255844': nan,
 '255954': 29.5,
 '255978': nan,
 '256024': nan,
 '259080': nan,
 '259396': nan,
 '259424': 24.13,
 '260338': 22.99,
 '260488': nan,
 '260514': 22.99,
 '260518': nan,
 '260538': nan,
 '260588': nan,
 '260592': nan,
 '260784': nan,
 '261128': 37.85,
 '261178': 39.58,
 '261254': nan,
 '261374': 20.89,
 '261392': 27.93,
 '259890': nan,
 '259952': nan,
 '259970': 11.71,
 '259984': nan,
 '260332': nan,
 '259420': nan,
 '242424': nan,
 '219322': nan,
 '219356': nan,
 '219372': nan,
 '219426': nan,
 '219530': nan,
 '219614': nan,
 '219660': nan,
 '219942': nan,
 '220350': 8.05,
 '220612': nan,
 '220960': nan,
 '221290': nan,
 '221634': nan,
 '219290': nan,
 '219088': nan,
 '219090': nan,
 '219108': 47.74,
 '219204': 26.03,
 '219218': 69.86,
 '223002': nan,
 '223088': nan,
 '223094': nan,
 '223100': nan,
 '223192': nan,
 '223318': nan,
 '223668': 14.91,
 '224396': nan,
 '224480': nan,
 '224562': nan,
 '224624': nan,
 '224698': 16.15,
 '224826': nan,
 '225002': nan,
 '225066': 20.04,
 '224550': nan,
 '221762': nan,
 '222128': nan,
 '222150': nan,
 '222160': 65.81,
 '222508': 28.33,
 '222522': nan,
 '222560': nan,
 '222584': 7.83,
 '222856': nan,
 '222870': nan,
 '222878': 20.04,
 '222906': nan,
 '214080': nan,
 '214086': nan,
 '214090': nan,
 '214094': nan,
 '214176': nan,
 '214272': 20.3,
 '214296': nan,
 '214438': 55.26,
 '214544': nan,
 '213952': nan,
 '213194': nan,
 '213222': nan,
 '213224': nan,
 '213274': nan,
 '213300': 37.26,
 '213344': 13.32,
 '213426': 27.92,
 '213432': nan,
 '213676': 11.86,
 '213700': nan,
 '213806': 10.17,
 '213816': 7.17,
 '213822': nan,
 '213950': nan,
 '214602': nan,
 '217022': 13.87,
 '217036': nan,
 '217054': nan,
 '217064': nan,
 '217152': nan,
 '217168': nan,
 '217474': nan,
 '216930': nan,
 '217728': nan,
 '218006': nan,
 '218404': nan,
 '218416': nan,
 '218550': nan,
 '218850': 6.28,
 '218858': nan,
 '217998': nan,
 '216924': nan,
 '216900': nan,
 '216874': nan,
 '214718': nan,
 '215030': nan,
 '215198': nan,
 '215218': 14.09,
 '215246': nan,
 '215248': 14.09,
 '215254': nan,
 '215290': nan,
 '215294': nan,
 '215340': nan,
 '215370': nan,
 '215394': nan,
 '215400': nan,
 '215656': 23.48,
 '215714': nan,
 '215744': nan,
 '216664': 15.4,
 '216684': 13.76,
 '225070': nan,
 '225080': 7.41,
 '234734': 40.28,
 '234736': 40.28,
 '234814': nan,
 '234998': nan,
 '235628': nan,
 '235706': nan,
 '235850': 17.22,
 '236174': 14.18,
 '235736': 16.87,
 '233300': nan,
 '233384': nan,
 '233680': nan,
 '233686': nan,
 '233692': 8.82,
 '233698': 8.82,
 '233706': nan,
 '233716': nan,
 '233964': nan,
 '234106': 9.52,
 '234124': 10.17,
 '234312': nan,
 '234328': 54.25,
 '234338': 6.12,
 '234434': nan,
 '234490': nan,
 '234494': nan,
 '234528': nan,
 '234540': nan,
 '234570': nan,
 '234576': nan,
 '234662': nan,
 '234668': nan,
 '236188': 12.44,
 '238628': 58.56,
 '238772': nan,
 '238788': 25.81,
 '239000': nan,
 '239010': nan,
 '239056': nan,
 '239146': nan,
 '239212': nan,
 '239388': nan,
 '239558': 15.12,
 '239818': 21.97,
 '240852': nan,
 '238606': nan,
 '241228': nan,
 '241286': nan,
 '241300': nan,
 '241308': 16.52,
 '241312': nan,
 '241626': nan,
 '241908': nan,
 '242272': nan,
 '242410': nan,
 '241252': nan,
 '237810': 17.88,
 '237632': 41.64,
 '236192': 17.89,
 '236256': nan,
 '236262': nan,
 '236270': nan,
 '236274': nan,
 '236292': 24.67,
 '236328': nan,
 '236508': nan,
 '236532': 27.92,
 '236556': nan,
 '236626': 79.69,
 '236744': nan,
 '236748': nan,
 '236782': nan,
 '237524': nan,
 '236180': 17.56,
 '233148': nan,
 '226894': 27.72,
 '226988': nan,
 '227148': nan,
 '227770': 10.76,
 '227850': 59.67,
 '227870': 12.85,
 '227896': nan,
 '227898': nan,
 '228124': nan,
 '228190': nan,
 '228274': nan,
 '228716': nan,
 '228724': nan,
 '228736': nan,
 '228762': 18.1,
 '228842': 28.92,
 '229076': nan,
 '229084': nan,
 '226888': nan,
 '226618': nan,
 '226574': nan,
 '225174': nan,
 '225252': nan,
 '225304': nan,
 '225372': nan,
 '225416': nan,
 '225520': nan,
 '225530': nan,
 '226004': nan,
 '226060': nan,
 '226070': nan,
 '226078': nan,
 '226082': nan,
 '226104': nan,
 '226108': nan,
 '226128': nan,
 '226204': 5.16,
 '226238': nan,
 '226298': 10.24,
 '226302': nan,
 '226544': nan,
 '226550': nan,
 '226566': nan,
 '229256': 41.51,
 '233264': nan,
 '229408': nan,
 '231884': nan,
 '231894': nan,
 '232216': nan,
 '232388': 10.74,
 '232478': nan,
 '232508': 17.56,
 '232538': nan,
 '232592': nan,
 '232728': nan,
 '232732': nan,
 '233030': nan,
 '233100': nan,
 '231858': nan,
 '231854': nan,
 '229420': nan,
 '229426': 18.43,
 '229432': 19.45,
 '229442': 19.45,
 '229774': 29.69,
 '230008': 39.58,
 '230010': 18.21,
 '230312': nan,
 '231504': nan,
 '231758': nan,
 '231760': 50.88,
 '283832': nan,
 '283928': 18.84,
 '283936': 11.74,
 '283946': nan,
 '284068': nan,
 '284072': nan,
 '284078': nan,
 '284080': 5.01,
 '284100': nan,
 '284112': 14.6,
 '284114': nan,
 '284146': nan,
 '284168': nan,
 '284174': nan,
 '284198': nan,
 '284230': nan,
 '284300': nan,
 '284086': 15.39,
 '284372': 48.71,
 '283752': nan,
 '282678': nan,
 '282680': 24.68,
 '282712': nan,
 '282940': nan,
 '283366': 25.81,
 '283386': nan,
 '283574': nan,
 '283612': nan,
 '283632': nan,
 '283646': nan,
 '284406': nan,
 '284470': nan,
 '284480': 35.25,
 '286558': nan,
 '286582': nan,
 '286654': 40.15,
 '286662': nan,
 '286784': 14.07,
 '286806': 43.26,
 '286818': nan,
 '286836': 46.01,
 '286852': nan,
 '286858': 56.52,
 '286864': nan,
 '286866': 51.53,
 '286878': nan,
 '286916': nan,
 '286972': nan,
 '287036': nan,
 '287050': nan,
 '287186': nan,
 '286506': 10.02,
 '286488': nan,
 '285790': nan,
 '284488': 40.97,
 '284490': 32.59,
 '284496': 36.65,
 '284512': nan,
 '284552': 41.51,
 '284760': nan,
 '284762': nan,
 '284772': nan,
 '284784': 42.83,
 '284832': nan,
 '284858': nan,
 '284874': nan,
 '284890': nan,
 '284894': nan,
 '284924': 19.34,
 '282644': nan,
 '282630': nan,
 '282620': 16.52,
 '282614': nan,
 '280176': 38.95,
 '280180': nan,
 '280234': nan,
 '280246': nan,
 '280264': nan,
 '280272': 21.97,
 '280286': nan,
 '280376': nan,
 '280386': nan,
 '280100': nan,
 '279824': nan,
 '279686': 14.85,
 '279040': nan,
 '279068': nan,
 '279154': nan,
 '279160': 14.91,
 '279164': nan,
 '279168': nan,
 '279230': 10.76,
 '279234': 14.6,
 '279262': 11.86,
 '279264': 9.92,
 '279300': 10.76,
 '279304': nan,
 '279310': nan,
 '279322': 17.56,
 '279334': 14.3,
 '287270': nan,
 '280418': 24.91,
 '281402': nan,
 '281484': nan,
 '281492': nan,
 '281556': nan,
 '281576': nan,
 '281612': nan,
 '281672': nan,
 '281756': nan,
 '281850': nan,
 '281926': nan,
 '282012': nan,
 '282050': nan,
 '282062': nan,
 '282072': nan,
 '282074': nan,
 '282336': nan,
 '282356': nan,
 '282594': nan,
 '281382': 11.86,
 '281362': 24.67,
 '281296': nan,
 '280422': nan,
 '280440': nan,
 '280730': nan,
 '280784': 14.6,
 '280882': nan,
 '281032': 42.83,
 '281058': 15.01,
 '281062': nan,
 '281238': 10.17,
 '281268': nan,
 '281288': nan,
 '287284': nan,
 '287312': nan,
 '292314': nan,
 '292366': nan,
 '292386': nan,
 '292390': nan,
 '292434': 13.74,
 '292436': 13.74,
 '292440': nan,
 '292446': 13.87,
 '292530': nan,
 '292534': nan,
 '292054': nan,
 '292810': nan,
 '292814': 33.45,
 '292858': nan,
 '292936': 62.38,
 '293048': 23.97,
 '292008': 13.74,
 '291856': nan,
 '289840': nan,
 '289886': 39.58,
 '289948': nan,
 '289996': nan,
 '290002': nan,
 '290090': nan,
 '290188': 23.48,
 '290278': nan,
 '290340': nan,
 '290906': nan,
 '290912': nan,
 '291206': nan,
 '291212': nan,
 '291218': nan,
 '291224': nan,
 '291402': nan,
 '291844': nan,
 '291850': nan,
 '289832': nan,
 '293060': nan,
 '293104': nan,
 '294332': nan,
 '294366': 37.26,
 '294370': nan,
 '294388': nan,
 '294512': nan,
 '294524': nan,
 '294824': nan,
 '294830': nan,
 '294840': 44.11,
 '294850': nan,
 '294912': nan,
 '294916': nan,
 '294938': nan,
 '295008': nan,
 '295022': nan,
 '295036': nan,
 '295042': nan,
 '295100': nan,
 '295130': nan,
 '295132': 47.74,
 '295138': nan,
 '295314': 45.35,
 '295348': nan,
 '295514': nan,
 '294302': nan,
 '294296': nan,
 '294258': 16.15,
 '293120': nan,
 '293124': nan,
 '293130': nan,
 '293272': nan,
 '293364': nan,
 '293368': nan,
 '293370': nan,
 '293422': 20.32,
 '293468': 52.81,
 '293516': nan,
 '293554': nan,
 '293558': nan,
 '293596': nan,
 '293612': nan,
 '293930': 5.21,
 '293952': nan,
 '294016': nan,
 '294074': nan,
 '294160': nan,
 '293070': nan,
 '278968': nan,
 '287804': nan,
 '287870': nan,
 '287906': 22.23,
 '287922': nan,
 '287954': 24.67,
 '287958': 24.44,
 '287972': nan,
 '288012': nan,
 '288060': nan,
 '288076': nan,
 '287762': nan,
 '287326': nan,
 '287376': nan,
 '287408': nan,
 '287416': nan,
 '287422': nan,
 '287602': 9.52,
 '287604': 10.76,
 '287646': nan,
 '287680': 12.69,
 '287684': nan,
 '287710': nan,
 '287726': nan,
 '287752': nan,
 '288136': nan,
 '288364': nan,
 '289172': 24.67,
 '289198': nan,
 '289244': nan,
 '289278': 28.53,
 '289424': 16.15,
 '289500': nan,
 '289706': 18.21,
 '289708': 17.56,
 '289768': 33.11,
 '289782': nan,
 '289790': 18.84,
 '289812': nan,
 '289610': 17.56,
 '289162': nan,
 '289060': 36.8,
 '288708': nan,
 '288740': nan,
 '288770': 24.8,
 '288800': nan,
 '288894': nan,
 '288990': nan,
 '289032': nan,
 '289046': 25.81,
 '288248': nan,
 '278498': nan,
 '278476': 65.81,
 '278450': nan,
 '268396': 22.23,
 '268444': nan,
 '268456': nan,
 '268534': nan,
 '268542': nan,
 '268570': 74.43,
 '268596': nan,
 '268604': nan,
 '268620': nan,
 '268694': nan,
 '268798': nan,
 '268942': nan,
 '269108': nan,
 '268364': nan,
 '269122': 44.61,
 '269140': 15.17,
 '269424': nan,
 '269490': nan,
 '269498': nan,
 '269562': nan,
 '269626': nan,
 '268346': nan,
 '268304': nan,
 '267794': nan,
 '267796': nan,
 '267802': nan,
 '267878': nan,
 '267936': nan,
 '267962': 11.86,
 '267982': nan,
 '268114': nan,
 '268174': nan,
 '268244': nan,
 '268250': nan,
 '268258': 47.85,
 '268276': nan,
 '268278': nan,
 '269718': nan,
 '270872': nan,
 '270884': nan,
 '270930': 18.84,
 '270936': nan,
 '270942': nan,
 '270956': 12.36,
 '270984': nan,
 '270780': 12.85,
 '271092': nan,
 '271100': nan,
 '271122': 13.63,
 '271174': nan,
 '271472': 35.72,
 '271508': nan,
 '271728': nan,
 '271766': nan,
 '271798': 13.87,
 '270646': 32.42,
 '270530': 19.45,
 '269738': nan,
 '269750': nan,
 '269912': 46.68,
 '270134': 14.09,
 '270244': nan,
 '270292': 12.36,
 '270354': 5.45,
 '264872': 62.73,
 '264878': nan,
 '264892': 40.15,
 '265026': nan,
 '265162': 7.37,
 '265246': nan,
 '265270': nan,
 '265436': nan,
 '265542': nan,
 '265690': nan,
 '265854': nan,
 '265884': nan,
 '265904': nan,
 '265918': nan,
 '265924': 19.42,
 '265968': 99.42,
 '264506': nan,
 '264518': nan,
 '264522': 7.62,
 '264524': 8.36,
 '264534': nan,
 '264688': nan,
 '264718': nan,
 '264788': nan,
 '264804': nan,
 '264814': 9.11,
 '264842': 38.73,
 '264856': 46.08,
 '264862': nan,
 '266134': nan,
 '266312': nan,
 '266910': nan,
 '266916': nan,
 '266920': nan,
 '266990': nan,
 '267328': nan,
 '267332': nan,
 '267430': nan,
 '267456': nan,
 '267466': nan,
 '267474': 27.92,
 '267496': nan,
 '267500': nan,
 '267502': nan,
 '267534': 27.51,
 '267554': nan,
 '267594': nan,
 '267638': 35.12,
 '267646': 35.63,
 '266908': 37.26,
 '266902': nan,
 '266896': 57.99,
 '266338': 34.11,
 '266340': nan,
 '266342': nan,
 '266348': nan,
 '266364': nan,
 '266566': nan,
 '266700': nan,
 '266734': nan,
 '213192': nan,
 '271822': nan,
 '271832': 28.92,
 '276624': 81.63,
 '276670': nan,
 '276676': nan,
 '276700': nan,
 '276732': nan,
 '276742': nan,
 '276752': nan,
 '276852': nan,
 '276920': nan,
 '276998': nan,
 '277014': nan,
 '277048': 11.86,
 '277054': nan,
 '277058': nan,
 '277070': nan,
 '276744': nan,
 '275950': nan,
 '275958': nan,
 '275960': nan,
 '276076': nan,
 '276106': nan,
 '276112': 15.31,
 '276116': nan,
 '276328': nan,
 '276386': nan,
 '276448': 43.73,
 '277142': nan,
 '277144': nan,
 '277342': 9.99,
 '277968': nan,
 '277970': nan,
 '278026': nan,
 '278028': 24.67,
 '278160': 28.33,
 '278276': nan,
 '278336': nan,
 '278406': nan,
 '277962': nan,
 '277430': 9.32,
 '277438': 13.18,
 '277444': 17.79,
 '277446': nan,
 '277452': 57.22,
 '277486': nan,
 '277498': nan,
 '277508': nan,
 '277532': nan,
 '277662': nan,
 '277678': nan,
 '277698': 14.51,
 '277830': 19.45,
 '277864': nan,
 '277152': 90.52,
 '275874': 13.87,
 '275330': 19.45,
 '272562': nan,
 '272952': nan,
 '273012': nan,
 '273360': nan,
 '273376': 28.92,
 '273380': nan,
 '273486': nan,
 '273536': 14.6,
 '272488': nan,
 '272468': nan,
 '271840': 30.57,
 '271884': 27.92,
 '271888': nan,
 '271904': nan,
 '271906': nan,
 '271928': nan,
 '271946': nan,
 '272084': nan,
 '272260': nan,
 '272264': nan,
 '272266': nan,
 '272306': nan,
 ...}

In [13]:
## Get the missing values per attribute
data.isnull().sum()

fecha                      0
id                         0
visitas                    0
categoria_uno              0
categoria_dos           4393
estado                     0
precio               1399886
dia_atipico                0
campaña                    0
antiguedad            480815
unidades_vendidas          0
dtype: int64

In [12]:
from sklearn.impute import SimpleImputer

imputer_median = SimpleImputer(strategy="median")

median = data['antiguedad'].median()

data['antiguedad'].fillna(median, inplace=True)

## Preprocessing functions

### Time format

In [35]:
class time_format(BaseEstimator, TransformerMixin):

    def __init__(self, document='Modelar'):
        self.document = document

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and trate the 'fecha' attribute depending of the document.
        If it is the 'Modelar' document, the variable will be equal to the content
        before the first space.
        If it it the 'Estimar' document, the variable will be transformed to the
        original format

        Original Format: 'DD/MM/AAAA' in (text format)


        """

        temp = ''

        if self.document == 'Modelar':
            data['fecha'] = pd.to_datetime(data['fecha'],infer_datetime_format=True).apply(lambda x : x.strftime('%d/%m/%Y'))
        elif self.document == 'Estimar':
            # agregar la modificación para el documento Estimar
            data['fecha']
        else:
            print('Unknown document!!!')


        return data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4045022 entries, 0 to 4045021
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   fecha              string
 1   id                 category
 2   visitas            Int64
 3   categoria_uno      category
 4   categoria_dos      category
 5   estado             category
 6   precio             float64
 7   dia_atipico        category
 8   campaña            category
 9   antiguedad         Int64
 10  unidades_vendidas  Int64
dtypes: Int64(3), category(6), float64(1), string(1)
memory usage: 196.9 MB

### Drop duplicates

In [36]:
class drop_dup(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        # nothing else to do
        return self


    def transform(self, data):
        """
        Take the dataframe and return the dataframe without duplicates.

        """

        return data.drop_duplicates()

### Data Preprocessing Pipeline

In [37]:
data_prep_pipeline = Pipeline([
         ('drop_dup', drop_dup()),
         ('time_format', time_format(document='Modelar'))
])


data_prepared = data_prep_pipeline.fit_transform(data)
data_prepared.head()

<ipython-input-35-ad9b00957605>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['format_fecha'] = pd.to_datetime(data['fecha'],infer_datetime_format=True).apply(lambda x : x.strftime('%d/%m/%Y'))

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas,format_fecha
0,1/6/2015 0:00:00,21972,0,C,75,No Rotura,NaN,0,0,5241,0,06/01/2015
1,1/6/2015 0:00:00,23910,5,C,170,No Rotura,6.07,0,0,5241,3,06/01/2015
2,1/6/2015 0:00:00,24306,13,A,46,No Rotura,NaN,0,0,<NA>,0,06/01/2015
4,1/6/2015 0:00:00,27144,15,E,230,No Rotura,NaN,0,0,4064,0,06/01/2015
5,1/6/2015 0:00:00,27504,7,C,157,No Rotura,NaN,0,0,5261,0,06/01/2015

In [21]:
data_prepared.head()

,fecha,id,visitas,categoria_uno,categoria_dos,estado,precio,dia_atipico,campaña,antiguedad,unidades_vendidas
1781636,01/01/2016,295520,17,A,82,No Rotura,NaN,-1,0,715,0
1780243,01/01/2016,251626,1,F,341,No Rotura,NaN,-1,0,<NA>,0
1780244,01/01/2016,251682,39,H,307,No Rotura,NaN,-1,0,<NA>,0
1780246,01/01/2016,251732,2,H,307,No Rotura,NaN,-1,0,<NA>,0
1780247,01/01/2016,251742,6,F,20,No Rotura,11.33,-1,0,980,6

## Outliers

No debe haber outliers

# Select a model and train it

# Fine-tune your model

# Present your solution